<% layout('./layout/bolilarplate') -%>
<body>
  <div class="container">
      <div class="row">
          <div class="col-8 offset-2">
              <h3>Create a New Listing</h3>
              <form method="POST" action="/listing" class="needs-validation"  enctype="multipart/form-data"  novalidate>
                  
                  <!-- Title -->
                  <div class="mb-3">
                      <label for="title" class="form-label">Title</label>
                      <input name="listing[title]" id="title" placeholder="Enter the Title" type="text" class="form-control" required />
                      <div class="valid-feedback">Looks good!</div>
                      <div class="invalid-feedback">Please enter a valid title.</div>
                  </div>

                  <!-- Description -->
                  <div class="mb-3">
                      <label for="description" class="form-label">Description</label>
                      <textarea name="listing[description]" id="description" class="form-control" placeholder="Enter description" required></textarea>
                      <div class="valid-feedback">Looks good!</div>
                      <div class="invalid-feedback">Please enter a valid description.</div>
                  </div>

                  <!-- Image -->
                  <div class="mb-3">
                      <label for="image" class="form-label"> Upload Image</label>
                      <input name="listing[image]" id="image" placeholder="Enter image URL/Link" type="file" class="form-control" required />
                      <div class="valid-feedback">Looks good!</div>
                      <div class="invalid-feedback">Please enter a valid image URL.</div>
                  </div>

                  <div class="row">
                      <!-- Price -->
                      <div class="mb-3 col-md-4">
                          <label for="price" class="form-label">Price</label>
                          <input name="listing[price]" id="price" placeholder="Enter price" type="number" class="form-control" required />
                          <div class="valid-feedback">Looks good!</div>
                          <div class="invalid-feedback">Please enter a valid price.</div>
                      </div>

                      <!-- Country -->
                      <div class="mb-3 col-md-8">
                          <label for="country" class="form-label">Country</label>
                          <input name="listing[country]" id="country" placeholder="Enter country" type="text" class="form-control" required />
                          <div class="valid-feedback">Looks good!</div>
                          <div class="invalid-feedback">Please enter a valid country.</div>
                      </div>
                  </div>

                  <!-- Location -->
                  <div class="mb-3">
                      <label for="location" class="form-label">Location</label>
                      <input name="listing[location]" id="location" placeholder="Enter location" type="text" class="form-control" required />
                      <div class="valid-feedback">Looks good!</div>
                      <div class="invalid-feedback">Please enter a valid location.</div>
                  </div>
                  
                  <label class="form-label">Category</label>
                 <select name="listing[category]" class="form-control" required>
                  <option value="castle">castle</option>
                    <option value="pool">pool</option>
                  <option value="mountains">mountains</option>
                  <option value="iconic_cities">Iconic cities</option>
                  <option value="room">room</option>
                  <option value="farm">fram</option>
                  <option value="camping">camping</option>
                  <option value="lake">lake</option>
                  <option value="snowflake">snowflake</option>
                </select>


                  <br>
                  <button class="btn btn-outline-danger" type="submit">Add</button>
                  <br><br>
              </form>
          </div>
      </div>
  </div>


  
</body>